@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<partial name="PartialViews/DetailsDeletePartialView"/>
<a asp-action="Index" class="btn btn-light">Back to List</a>

